django==4.2.14
psycopg2-binary==2.9.5
celery==5.2.7
requests==2.32.0
beautifulsoup4==4.11.2
django_celery_beat==2.2.1
django-redis==5.2.0
lxml==4.9.1
defusedxml==0.7.1
django-celery-results==2.4.0
pyyaml==6.0
gunicorn==22.0.0
awesome-slugify==1.6.5
elasticsearch_dsl==7.4.0
python-gvm==21.11.0
bootstrap-admin==0.4.4
netaddr==0.8.0
djangorestframework==3.13.1
tzdata==2021.5
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
importlib-metadata==4.13.0
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
